streamlit
streamlit-mic-recorder
chromadb
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
sentence-transformers
faster-whisper
openai
kokoro
soundfile


# langchain                              0.3.26
# langchain-chroma                       0.2.4
# langchain-community                    0.3.26
# langchain-core                         0.3.67
# langchain-huggingface                  0.3.0
# langchain-ollama                       0.3.3
# langchain-text-splitters               0.3.8